extends layout
block content

	center
		div.container
			div.row
				div.col.s12.m7
					div.card.white
						div.card-content.black-text
							h3 Iniciar Sesion
							form(method="post", action="/session")
								input(type="text", name="user", placeholder="Usuario" required="required")
								br
								input(type="password", name="pass", placeholder="Contraseña" required="required")
								br
								input(type="submit", value="Entrar" class="waves-effect waves light btn-large red darken-2")